In [1]:
import requests

In [2]:
# https://aphorisms.glitch.me returns a random quotation
response = requests.get('http://aphorisms.glitch.me/')
response

In [3]:
response.ok

True

In [4]:
response.status_code

200

In [5]:
response.text

'{"quote":"We don\'t need to make our charts more complicated than they need to be","author":"Ravinder Singh"}'

In [6]:
url = 'https://swapi.dev/api/people/5'
response = requests.get(url)
print(response.text)

{"name":"Leia Organa","height":"150","mass":"49","hair_color":"brown","skin_color":"light","eye_color":"brown","birth_year":"19BBY","gender":"female","homeworld":"https://swapi.dev/api/planets/2/","films":["https://swapi.dev/api/films/1/","https://swapi.dev/api/films/2/","https://swapi.dev/api/films/3/","https://swapi.dev/api/films/6/"],"species":[],"vehicles":["https://swapi.dev/api/vehicles/30/"],"starships":[],"created":"2014-12-10T15:20:09.791000Z","edited":"2014-12-20T21:17:50.315000Z","url":"https://swapi.dev/api/people/5/"}

In [7]:
data = response.json()
print(type(data))
data

<class 'dict'>

{'name': 'Leia Organa',
 'height': '150',
 'mass': '49',
 'hair_color': 'brown',
 'skin_color': 'light',
 'eye_color': 'brown',
 'birth_year': '19BBY',
 'gender': 'female',
 'homeworld': 'https://swapi.dev/api/planets/2/',
 'films': ['https://swapi.dev/api/films/1/',
  'https://swapi.dev/api/films/2/',
  'https://swapi.dev/api/films/3/',
  'https://swapi.dev/api/films/6/'],
 'species': [],
 'vehicles': ['https://swapi.dev/api/vehicles/30/'],
 'starships': [],
 'created': '2014-12-10T15:20:09.791000Z',
 'edited': '2014-12-20T21:17:50.315000Z',
 'url': 'https://swapi.dev/api/people/5/'}

In [8]:
base_url = 'https://python.zgulde.net'
print(requests.get(base_url).text)

{"api":"/api/v1","help":"/documentation"}

In [9]:
response = requests.get(base_url + '/documentation')
print(response.json()['payload'])

The API accepts GET requests for all endpoints, where endpoints are prefixed
with

    /api/{version}

Where version is "v1"

Valid endpoints:

- /stores[/{store_id}]
- /items[/{item_id}]
- /sales[/{sale_id}]

All endpoints accept a `page` parameter that can be used to navigate through
the results.

In [11]:
response = requests.get('https://python.zgulde.net/api/v1/items')

data = response.json()
data.keys()

dict_keys(['payload', 'status'])

In [12]:
data['payload'].keys()

dict_keys(['items', 'max_page', 'next_page', 'page', 'previous_page'])

In [13]:
current_page = data['payload']['page']
max_page = data['payload']['max_page']
next_page = data['payload']['next_page']

print(f'current_page: {current_page}')
print(f'max_page: {max_page}')
print(f'next_page: {next_page}')

current_page: 1
max_page: 3
next_page: /api/v1/items?page=2

In [14]:
data['payload']['items'][:2]

[{'item_brand': 'Riceland',
  'item_id': 1,
  'item_name': 'Riceland American Jazmine Rice',
  'item_price': 0.84,
  'item_upc12': '35200264013',
  'item_upc14': '35200264013'},
 {'item_brand': 'Caress',
  'item_id': 2,
  'item_name': 'Caress Velvet Bliss Ultra Silkening Beauty Bar - 6 Ct',
  'item_price': 6.44,
  'item_upc12': '11111065925',
  'item_upc14': '11111065925'}]

In [15]:
import pandas as pd

items = pd.DataFrame(data['payload']['items'])
items.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

- so, data is based on response.get, which is drawing from base_url/api/v1/items
    - in other words, ~/items/payload/items

In [16]:
response = requests.get(base_url + data['payload']['next_page'])
data = response.json()

current_page = data['payload']['page']
max_page = data['payload']['max_page']
next_page = data['payload']['next_page']

print(f'current_page: {current_page}')
print(f'max_page: {max_page}')
print(f'next_page: {next_page}')

items = pd.concat([items, pd.DataFrame(data['payload']['items'])]).reset_index(drop=True)

current_page: 2
max_page: 3
next_page: /api/v1/items?page=3

In [17]:
response = requests.get(base_url + data['payload']['next_page'])
data = response.json()

current_page = data['payload']['page']
max_page = data['payload']['max_page']
next_page = data['payload']['next_page']

print(f'current_page: {current_page}')
print(f'max_page: {max_page}')
print(f'next_page: {next_page}')

items = pd.concat([items, pd.DataFrame(data['payload']['items'])]).reset_index(drop=True)

current_page: 3
max_page: 3
next_page: None

In [19]:
items.shape

(50, 6)

# 1. Using the code from the lesson as a guide and the REST API from https://python.zgulde.net/api/v1/items as we did in the lesson, create a dataframe named items that has all of the data for items.

In [21]:
items.head()

,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,Caress,2,Caress Velvet Bliss Ultra Silkening Beauty Bar...,6.44,11111065925,11111065925
2,Earths Best,3,Earths Best Organic Fruit Yogurt Smoothie Mixe...,2.43,23923330139,23923330139
3,Boars Head,4,Boars Head Sliced White American Cheese - 120 Ct,3.14,208528800007,208528800007
4,Back To Nature,5,Back To Nature Gluten Free White Cheddar Rice ...,2.61,759283100036,759283100036

# 2. Do the same thing, but for stores (https://python.zgulde.net/api/v1/stores)

In [30]:
stores_response = requests.get('https://python.zgulde.net/api/v1/stores')
stores_data = stores_response.json()
stores_data.keys()

dict_keys(['payload', 'status'])

In [31]:
stores_data['payload'].keys()

dict_keys(['max_page', 'next_page', 'page', 'previous_page', 'stores'])

In [32]:
stores_current_page = stores_data['payload']['page']
stores_max_page = stores_data['payload']['max_page']
stores_next_page = stores_data['payload']['next_page']

print(f'current_page: {stores_current_page}')
print(f'max_page: {stores_max_page}')
print(f'next_page: {stores_next_page}')

current_page: 1
max_page: 1
next_page: None

In [33]:
stores = pd.DataFrame(stores_data['payload']['stores'])
stores.head()

             store_address   store_city  store_id store_state store_zipcode
0   12125 Alamo Ranch Pkwy  San Antonio         1          TX         78253
1         9255 FM 471 West  San Antonio         2          TX         78251
2  2118 Fredericksburg Rdj  San Antonio         3          TX         78201
3          516 S Flores St  San Antonio         4          TX         78204
4          1520 Austin Hwy  San Antonio         5          TX         78218

- There is only one page in the stores info

# 3. Extract the data for sales (https://python.zgulde.net/api/v1/sales). There are a lot of pages of data here, so your code will need to be a little more complex. Your code should continue fetching data from the next page until all of the data is extracted.

In [35]:
host = 'https://python.zgulde.net'
api = '/api/v1/'
endpoint = 'sales'

url = host + api + endpoint

In [39]:
sales_response = requests.get(url)
sales_data = sales_response.json()
sales_data.keys()

dict_keys(['payload', 'status'])

In [41]:
sales_data['payload'].keys()

dict_keys(['max_page', 'next_page', 'page', 'previous_page', 'sales'])

In [42]:
sales_data['payload']['max_page']

183

In [43]:
sales_current_page = sales_data['payload']['page']
sales_max_page = sales_data['payload']['max_page']
sales_next_page = sales_data['payload']['next_page']

print(f'current_page: {sales_current_page}')
print(f'max_page: {sales_max_page}')
print(f'next_page: {sales_next_page}')

current_page: 1
max_page: 183
next_page: /api/v1/sales?page=2

In [51]:
# first, create the response variable by requesting the url
response = requests.get('https://python.zgulde.net/api/v1/sales')
# turn the response into json
data = response.json()
# sales keys = ['payload', 'status']
# payload keys = ['sales', 'max_page', 'next_page', 'page', 'previous_page']
payload = data['payload'] # payload is the key containing the sales key
# define the next page
next_page = payload['next_page']
# for use in DRY coding later, if i can get to it
endpoint = 'sales'
# create the initial dataframe from the sales on the first page
sales = pd.DataFrame(payload[endpoint])
# while loop to get data from all the subsequent pages and concatenate them to the sales df
while next_page != None:
    # define the url for use below (like switching to the next page to get its contents)
    url = host + next_page
    # create the response for the next page url
    response = requests.get(url)
    # turn it into json
    data= response.json()
    # define a payload page
    payload = data['payload']
    # turn the sales content ('endpoint') into a df
    page_contents = pd.DataFrame(payload[endpoint])
    # concatenate the page_contents to the original sales df
    sales = pd.concat([sales,page_contents]).reset_index(drop=True)
    # resetting next_page
    next_page = payload["next_page"]
    # a short statement so i can watch as the data are acquired from one page to the next
    print("Sales data acquired")
sales

Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired
Sales data acquired

        item  sale_amount                      sale_date  sale_id  store
0          1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1      1
1          1         11.0  Wed, 02 Jan 2013 00:00:00 GMT        2      1
2          1         14.0  Thu, 03 Jan 2013 00:00:00 GMT        3      1
3          1         13.0  Fri, 04 Jan 2013 00:00:00 GMT        4      1
4          1         10.0  Sat, 05 Jan 2013 00:00:00 GMT        5      1
...      ...          ...                            ...      ...    ...
912995    50         63.0  Wed, 27 Dec 2017 00:00:00 GMT   912996     10
912996    50         59.0  Thu, 28 Dec 2017 00:00:00 GMT   912997     10
912997    50         74.0  Fri, 29 Dec 2017 00:00:00 GMT   912998     10
912998    50         62.0  Sat, 30 Dec 2017 00:00:00 GMT   912999     10
912999    50         82.0  Sun, 31 Dec 2017 00:00:00 GMT   913000     10

[913000 rows x 5 columns]

In [52]:
sales.head()

   item  sale_amount                      sale_date  sale_id  store
0     1         13.0  Tue, 01 Jan 2013 00:00:00 GMT        1      1
1     1         11.0  Wed, 02 Jan 2013 00:00:00 GMT        2      1
2     1         14.0  Thu, 03 Jan 2013 00:00:00 GMT        3      1
3     1         13.0  Fri, 04 Jan 2013 00:00:00 GMT        4      1
4     1         10.0  Sat, 05 Jan 2013 00:00:00 GMT        5      1

## Save the data in your files to local csv files so that it will be faster to access in the future.

In [53]:
items.to_csv('items.csv', index=False)
stores.to_csv('stores.csv', index=False)
sales.to_csv('sales.csv', index = False)

## Combine the data from your three separate dataframes into one large dataframe.

In [54]:
sales_stores = pd.merge(sales, 
                        stores,
                        how="left",
                        left_on="store",
                        right_on="store_id")
df = pd.merge(sales_stores,
                      items,
                      how="left",
                      left_on="item",
                      right_on="item_id")
df

,item,sale_amount,sale_date,sale_id,store,store_address,store_city,store_id,store_state,store_zipcode,item_brand,item_id,item_name,item_price,item_upc12,item_upc14
0,1,13.0,"Tue, 01 Jan 2013 00:00:00 GMT",1,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
1,1,11.0,"Wed, 02 Jan 2013 00:00:00 GMT",2,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
2,1,14.0,"Thu, 03 Jan 2013 00:00:00 GMT",3,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
3,1,13.0,"Fri, 04 Jan 2013 00:00:00 GMT",4,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
4,1,10.0,"Sat, 05 Jan 2013 00:00:00 GMT",5,1,12125 Alamo Ranch Pkwy,San Antonio,1,TX,78253,Riceland,1,Riceland American Jazmine Rice,0.84,35200264013,35200264013
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
912995,50,63.0,"Wed, 27 Dec 2017 00:00:00 GMT",912996,10,8503 NW Military Hwy,San Antonio,10,TX,78231,Choice,50,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221
912996,50,59.0,"Thu, 28 Dec 2017 00:00:00 GMT",912997,10,8503 NW Military Hwy,San Antonio,10,TX,78231,Choice,50,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221
912997,50,74.0,"Fri, 29 Dec 2017 00:00:00 GMT",912998,10,8503 NW Military Hwy,San Antonio,10,TX,78231,Choice,50,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221
912998,50,62.0,"Sat, 30 Dec 2017 00:00:00 GMT",912999,10,8503 NW Military Hwy,San Antonio,10,TX,78231,Choice,50,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221
912999,50,82.0,"Sun, 31 Dec 2017 00:00:00 GMT",913000,10,8503 NW Military Hwy,San Antonio,10,TX,78231,Choice,50,Choice Organic Teas Black Tea Classic Black - ...,5.20,47445919221,47445919221

## Acquire the Open Power Systems Data for Germany, which has been rapidly expanding its renewable energy production in recent years. The data set includes country-wide totals of electricity consumption, wind power production, and solar power production for 2006-2017. You can get the data here: https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv

In [55]:
ops = pd.read_csv('https://raw.githubusercontent.com/jenfly/opsd/master/opsd_germany_daily.csv')

In [56]:
ops.head()

         Date  Consumption  Wind  Solar  Wind+Solar
0  2006-01-01     1069.184   NaN    NaN         NaN
1  2006-01-02     1380.521   NaN    NaN         NaN
2  2006-01-03     1442.533   NaN    NaN         NaN
3  2006-01-04     1457.217   NaN    NaN         NaN
4  2006-01-05     1477.131   NaN    NaN         NaN

## Make sure all the work that you have done above is reproducible. That is, you should put the code above into separate functions in the acquire.py file and be able to re-run the functions and get the same data.

- refer to 'my_acquire.py'